header{
    text-decoration: none;
}
.navbar{
    background: rgb(9, 45, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
    list-style-type: none;

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

li a{
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

body{
    margin-top: 25px;
    background-color: white;
    background-size: 100%;
    margin: auto;
    width: 75%;
    border: 4px solid rgb(10, 45, 10);
    padding: 10px;
}
.main{
    color: rgb(7, 32, 7);
    text-align: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul{
    list-style-type:decimal;
    color: black;
}
h1{
    color: rgb(6, 108, 6);
}
#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
    
    img{
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  header{
    text-decoration: none;
  }
  .navbar{
    background: rgb(9, 45, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    font-size: 35px;
    font-weight: 600;
    color: white;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }